@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .google-button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  }
  
  
  
  .google-button__icon img {
    width: 50px;
    height: 50px;
  }
  
  .google-button__text {
    font-weight: bold;
    color: #757575;
    margin-right: 8px;
  }